<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Projects Portfolio</title>
    <body>
      {{> header}}
      <p>Project page test will go here </p>
      {{> footer}}
    </body>
  </head>
</html>
